.content {
  background-color: #f1f1f1;
  font-size: 10px;
}
.content .nav-bar {
  background-color: #f1f1f1;
}
.content .nav-bar .nav-text {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
.content .nav-bar .nav-iocn {
  color: #000;
  font-size: 20px;
}
.content .mui-body .mui-grid-view.mui-grid-9 {
  background-color: #fff;
  border: 0;
  border-radius: 25px;
  -moz-border-radius: 25px;
}
.content .mui-body .mui-grid-view.mui-grid-9 .mui-table-view-cell {
  border: 0;
}
.content .mui-body .mui-grid-view.mui-grid-9 .mui-table-view-cell img {
  height: 40px;
}
.content .mui-body .mui-grid-view.mui-grid-9 .mui-table-view-cell .mui-media-body {
  font-weight: 500;
  font-size: 12px;
}
.content .van-notice {
  height: 30px;
  width: 98%;
  margin-top: 5px;
  color: #ee5a5a;
  border-radius: 100px;
  background-color: #fff;
}
.content .van-notice span:first-child {
  font-weight: 600;
  color: red;
}
.content .shop-header /deep/ .van-item {
  background-color: yellow;
  margin-top: 8px;
}
.content .shop-header /deep/ .van-item .van-grid-item__content {
  padding: 5px;
}
.content .shop-header /deep/ .van-item .van-grid-item__content span {
  font-size: 10px;
}
.content .shop-header /deep/ .van-item .van-grid-item__content .van-image {
  height: 30px;
}
.content .shop-header /deep/ .van-item .van-grid-item__content .van-tag {
  font-size: 6px;
  margin-top: -5px;
  margin-left: 35px;
  z-index: 1;
}
.content .shop-center {
  margin-top: 5px;
}
.content .shop-center /deep/ .shop-center-item .center-left {
  text-align: center;
}
.content .shop-assistant {
  margin-top: 5px;
}
.content .shop-assistant .assistant-top {
  background-color: #fff;
  color: red;
  text-align: center;
}
.content .shop-assistant .assistant-top > span {
  font-size: 12px;
  font-weight: 600;
}
.content .shop-assistant .assistant-top .assistant-left {
  float: right;
}
.content .shop-assistant .assistant-top .assistant-left /deep/ .assistant-round {
  font-size: 7px;
}
.content .col-img {
  margin-top: 5px;
  height: 80px;
}
.content .col-img .img-image {
  height: 80px;
  width: 100%;
}
.content .shop-home {
  margin-top: 5px;
}
.content .shop-home .home-top {
  background-color: #fff;
  color: red;
  text-align: center;
}
.content .shop-home .home-top > span {
  font-size: 12px;
  font-weight: 600;
}
.content .shop-home .home-top .home-left {
  float: right;
}
.content .shop-home .home-top .home-left /deep/ .home-round {
  font-size: 7px;
}
